.container {

}

.col-md-6 {
    background-color: rgb(23, 141, 82,);
    border: 2px solid black;
    border-radius: 10px;
}
body {
    background-image: linear-gradient(black, rgb(74, 158, 74), rgb(255, 255, 255));
    height: 635px;
    color: white;
}
.questions-body {
    padding: 70px;
    border: 51px solid rgb(17, 19, 17);
}